<h1>we are in  the contact page </h1>
<%@articles.each do |article|%>
<%= article.title%>
<%= article.description%>
<%end%>

<%# <%= link_to 'return to the home' , 'home'%> 

<a href = 'about' > go to the about page </a>


